absl-py
anyio
argon2-cffi
asn1crypto
astunparse
async-generator
attrs
Babel
backcall
bleach
boto3
botocore
cached-property
cachetools
certifi
cffi
chardet
chart-studio
click
colorlover
contextvars
cryptography
cufflinks
dataclasses
decorator
defusedxml
entrypoints
filelock
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
immutables
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
joblib
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-http-over-ws
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras-nightly
Keras-Preprocessing
keyring
keyrings.alt
lxml
Markdown
MarkupSafe
mistune
more-itertools
moto
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
pluggy
prometheus-client
prompt-toolkit
protobuf
ptyprocess
py
pyasn1
pyasn1-modules
pycparser
pycrypto
Pygments
pygobject
pyparsing
pyrsistent
pytest
python-apt
python-dateutil
pytz
pyxdg
PyYAML
pyzmq
regex
requests
requests-oauthlib
requests-unixsocket
responses
retrying
rsa
s3transfer
sacremoses
SecretStorage
Send2Trash
six
sniffio
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xmltodict
zipp
